//META{"name":"ios style badges","description":"","author":"cat#0666","version":"0.0.0"}*//{}

.badge-1GsMF2 {
	border-radius: 50%;
	bottom: 37px;
    right: -6px;
}

.wrapper-232cHJ {
	background-color: #EB4D3D;
	padding: 3.5px 6px;
	text-shadow: 0 0px 0 rgba(0, 0, 0, 0);
	font-family: SF Pro Display;
	font-weight: 400;
}